# == Windows ==
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# == Composer ==
/composer.phar
/vendor/

# == phpDocumentor ==
/docs/tmp/
/.phpdoc

# == PHPUnit ==
/.phpunit.result.cache
*.log
*.err